<%- include('../template/admin_header') %>
<%- include('../template/admin_navbar') %>

<div class="container mt-3">
  <a href="/admin/page/add_page" class="btn btn-sm btn-outline-success mb-2">Add Pages</a>
  <table class="table sorting">
    <thead class="black white-text">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nama Page</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      
        <% pages.forEach(function(page){ %>
          <tr id="id_<%= page._id %>" class="<%= page.link %>">
            <td><%= page._id %></td>
            <td><%= page.title %></td>
            <td><a href="/admin/page/edit-page/<%= page._id %>" class="edit">edit</a></td>
            <% if (page.link == "home") { %>
              <td></td>
            <% } else { %>
              <td><a href="/admin/page/delete-page/<%= page._id %>" class="delete confirmDeletion">delete</a></td>
            <% } %>
          </tr> 
        <% }); %>
        
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $('tbody').sortable({
      items: "tr:not('.home')",
      placeholder: "ui-state-hightlight",
      update: function(){
        var id = $('tbody').sortable('serialize');
        var url = "/admin/reorder-page";
        $.post(url, id);
      }
  });
</script>

<%- include('../template/admin_footer') %>