<%- include('../template/header') %>
<%- include('../template/navbar') %>

<form class="card-body" action="/cart/page/checkout" method="post">
  <!--Main layout-->
  <main class="">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--username-->
                  <div class="md-form ">
                    <input type="text" id="username" class="form-control" name="username">
                    <label for="username" class="">Username</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--penerima-->
                  <div class="md-form">
                    <input type="text" id="penerima" class="form-control"  name="penerima">
                    <label for="penerima" class="">Penerima barang</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--email-->
              <div class="md-form mb-5">
                <input type="text" id="email" class="form-control" placeholder="youremail@example.com" name="email">
                <label for="email" class="">Email</label>
              </div>

              <!--address-->
              <div class="md-form mb-5">
                <input type="text" id="address" class="form-control" placeholder="Your address" name="alamat">
                <label for="address" class="">Address</label>
              </div>

              <!--phone-->
              <div class="md-form mb-5">
                <input type="text" id="address" class="form-control" placeholder="Number phone" name="phone">
                <label for="address" class="">Number Phone</label>
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">
            <% if (typeof cart == 'undefined') { %>
              0
            <% }else{ %>
              <%= countAll %>
            <% } %></span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">

<% if (typeof carts == "undefined") { %>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">No Product In Your Cart</h6>
                <small class="text-muted">tambahkan produk terlebih dahulu</small>
              </div>
              <span class="text-muted">0</span>
            </li>
<% }else{ %>
  <% var total = 0; %>
  <% carts.forEach(function(cart){ %>
      <% var subtotal = cart.price * cart.qty %>
      <% total += +subtotal %>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0"><%= cart.title %></b></h6>
                <small class="text-muted"><%= cart.price %> x <%= cart.qty %></small>
              </div>
              <span class="text-muted"><%= subtotal %></b></span>
            </li>
  <% }); %>
<% } %>


            <li class="list-group-item d-flex justify-content-between">
              <span>Total (Rupiah)</span>
              <strong>Rp. <%= total %></strong>
              <input type="text" value="<%= total %>" name="total" hidden>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
              </div>
            </div>
          
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
  </form>
  <%- include('../template/footer') %>